@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.centerChilds * {
    margin: auto;
    text-align: center;
}

body {
    background-color: #36393F;
}

#home * {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

* {
    color: aliceblue;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.socialMedia {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
}

.socialMedia:hover,
.socialMedia:focus {
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(822%) hue-rotate(253deg) brightness(119%) contrast(100%);
}

.socialMedia-discord {
    background-image: url(images/discord.svg);
}

.socialMedia-github {
    background-image: url(images/github.svg);
}

.socialMedia-twitter {
    width: 60px;
    background-image: url(images/twitter.svg);
}

.socialMedia-stackoverflow {
    background-image: url(images/stackoverflow.svg);
    width: 45px;
}

.socialMedia-itch {
    background-image: url(images/itch.svg);
    padding-left: 10px;
    height: 42px;
    width: 45px;
}

#socialMedias {
    padding: 0px 0px 10px;
}

.thicc {
    height: 1000px;
}

#things a {
    padding: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    text-decoration: none;
}

#things a:hover,
#things a:focus {
    background-color: white;
    color: #36393F;
}

.project figcaption {
    font-size: 40px;
}


h1 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-weight: 200;
    font-size: 15px;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}